body{
    box-sizing: border-box;
}

.checkout-container {
    
    width: 1000px;
    margin: 40px auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.checkout-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #2c2c2c; /* Dark Gray */
    text-align: center;
}

.checkout-form .form-group {
    margin-bottom: 15px;
}

.checkout-form label {
    display: block;
    margin-bottom: 5px;
    color: #2c2c2c; /* Dark Gray */
}

.checkout-form input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.checkout-form input:focus {
    border-color: #0066cc; /* Blue */
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
    outline: none;
}

.checkout-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #0066cc; /* Blue */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #004b99; /* Darker Blue */
}